body{
    width:300px;
    padding:20px;
    text-align:center;
    font-family:Arial;
}

button{
    padding:10px;
    margin:5px;
    cursor:pointer;
}

input{
    width: 90%;
    padding: 8px;
    margin-top: 10px;
}